<!--  /======================================== TOOLBAR =======================================/-->
<mat-toolbar class="menu-toolbar">
  <button mat-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened">close</mat-icon>
  </button>
  <span style="color: yellow">Product</span>
  <div *ngIf="sidenav.mode === 'side'">
    <button mat-button>
      <a routerLink="" routerLinkActive="" class="link-toolbar">
      <span>
        <mat-icon style="position: relative;top: .3rem">home</mat-icon>
        Admin
      </span>
      </a>
    </button>
    <button mat-button (click)="onProductCreate()">
      <span class="link-toolbar">create</span>
    </button>
  </div>
</mat-toolbar>

<!--<app-user-filter-chips [filters]='productFilterArray'-->
<!--                          (removeElemFilters)="onRemoveElemFilters($event)"-->
<!--                          (clearFilters)="onCancelFilters()">-->
<!--</app-user-filter-chips>-->

<!--  /======================================== SIDE-NAV-CONTAINER ============================/-->
<mat-sidenav-container>
  <!--  /************************************ sidenav *************************************/-->
  <mat-sidenav mode="side" #sidenav="matSidenav" class="side-menu" opened>
    <div *ngIf="sidenav.mode === 'over'">
      <button mat-button [matMenuTriggerFor]="sideMenu">
        TOP MENU
        <mat-menu #sideMenu>
          <button mat-menu-item>
            <a routerLink="" routerLinkActive="" class="link-toolbar" style="color: darkblue">
      <span>
        <mat-icon style="position: relative">home</mat-icon>
<!--        home-->
      </span>
            </a>
          </button>
          <button mat-menu-item (click)="onProductCreate()" class="link-toolbar" style="color: darkblue">
            Create
          </button>
        </mat-menu>
      </button>
    </div>
    <ng-container *ngTemplateOutlet="productEditMenu"></ng-container>
  </mat-sidenav>
  <!--  /************************************ sidenav-content *****************************/-->
  <mat-sidenav-content class="sidenav">
    <div >
      <app-product-filter-chips [filters]='productFilterArray'
                                (removeElemFilters)="onRemoveElemFilters($event)"
                                (clearFilters)="onCancelFilters()">
      </app-product-filter-chips>

      <div fxHide.lt-md style="float: right">
        <span class="column-label">Columns</span>
        <mat-slider [max]="6" [min]="3" [(ngModel)]="gridColumns" [thumbLabel]="true">
        </mat-slider>
      </div>

    </div>
    <ng-container *ngTemplateOutlet="productCard"></ng-container>

  </mat-sidenav-content>
</mat-sidenav-container>
<!--  /========================================== TEMPLATES ===================================/-->
<!--  /****************************************** edit product side menu **********************/-->
<ng-template #productEditMenu>
  <div>
    <form [formGroup]="productFilterForm">
      <mat-form-field appearance="fill" style="font-size: 14px">
        <mat-label>
          <span style="">Category</span></mat-label>
        <mat-select class="menu-select" formControlName="category" (selectionChange)="onChangeProductFilterForm()">
          <mat-option>All</mat-option>
          <mat-option *ngFor="let item of listProductCategory" class="menu-select" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" style="font-size: 14px">
        <mat-label>
          <span style="">Brand</span></mat-label>
        <mat-select class="menu-select" formControlName="brand" (selectionChange)="onChangeProductFilterForm()">
          <mat-option>All</mat-option>
          <mat-option *ngFor="let item of listProductBrand" class="menu-select" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" style="font-size: 14px"
                      hintLabel="Min {{minMaxPrice.min}}, Max {{minMaxPrice.max}}">
        <mat-label>From minimum price</mat-label>
        <input matInput formControlName="priceGte" (blur)="onChangeProductFilterFormPriceGte()" #priceGte>
        <mat-hint align="end">
          {{ priceGte.value || 0}}
        </mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill" style="font-size: 14px"
                      hintLabel="Min {{minMaxPrice.min}}, Max {{minMaxPrice.max}}">
        <mat-label>To maximum price</mat-label>
        <input matInput formControlName="priceLte" (blur)="onChangeProductFilterFormPriceLte()" #priceLte>
        <mat-hint align="end">
          {{ priceLte.value || 0}}
        </mat-hint>
      </mat-form-field>
      <div>
        <mat-checkbox formControlName="newFlag" (change)="onChangeNewFlag($event)">Only new</mat-checkbox>
      </div>
      <div>
        <mat-checkbox formControlName="promoFlag" (change)="onChangePromoFlag($event)">Only promo</mat-checkbox>
      </div>
      <button mat-button class="menu-button" type="reset" (click)="onCancelFilters()">Cancel filters</button>
    </form>
    <mat-divider></mat-divider>
  </div>
</ng-template>
<!--  /****************************************** flex layout *********************************/-->
<ng-template #productCard>
  <div class="contentProductCard" style="width: 80%">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%"
           *ngFor="let item of products" class="mat-elevation-z4"
           matTooltip="{{item.shortCharacteristics}}"
           matTooltipClass="tooltip">
        <mat-card>
          <div class="card_header">
            <div *ngIf="item.newFlag">
              <img mat-card-avatar src="../../../../../assets/images/New%20product30_30.png"
                   style="width: 30px;height: 30px">
            </div>
            <div *ngIf="item.promoFlag">
              <img mat-card-avatar src="../../../../../assets/images/promo.jpeg" style="width: 30px;height: 30px">
            </div>
          </div>
          <div style="width: 100%; height: 200px">
            <img [src]=item.photoSRC[0] alt="photo" style="width: 100%; height: 100%; object-fit: cover">
          </div>
          <mat-card-content style="width: 100%">
            <div>
              <p>{{item.title}}</p>
            </div>
            <div style="height: 70px;">
              <div *ngIf="item.promoFlag" class="card-div">
                      <span style="color: red;font-weight: bold;text-decoration: line-through">
                       {{item.originalPrice | currency:'UAH':"symbol-narrow":"1.2-2"}}
                      </span>
                discount
                <span style="font-weight: bolder; font-size: larger; color: red">
                        {{item.discount}} %
                      </span>
              </div>
              <div class="card-div">
                {{item.price | currency:'UAH':"symbol-narrow":"1.2-2"}}
              </div>
            </div>

            <mat-card-actions style="padding-bottom: 20px; align-self: center">
              <button mat-raised-button color="primary" (click)="onItemEdit(item)">Edit</button>
              <button mat-raised-button color="primary" (click)="onItemDelete(item.id)">Delete</button>
            </mat-card-actions>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</ng-template>


