.home-side-menu {
  background-color: #3952b5;
  position: absolute;
  top: 40px;
  left: 0;
  float: left;
  width: 140px;
}
mat-toolbar {
  height: 40px;
}
.same {
  overflow: hidden;
  width: 100%;
  height: 300px;
}
/*mat-card-header{*/
/*  width: 100%;*/
/*  height: 30px;*/
/*}*/
