<p>category works!</p>
<mat-toolbar color="primary">
  <span style="color: yellow">Категории</span>
  <button mat-button (click)="onHome()">Home</button>
  <button mat-button [matMenuTriggerFor]="createCategoryMenu">Создать</button>
  <mat-menu #createCategoryMenu="matMenu">
    <button mat-menu-item (click)="onCreateCategory()">Уровень 1</button>
    <button mat-menu-item (click)="onCreateSubCategory()">Уровень 2</button>
    <button mat-menu-item (click)="onCreateSubSubCategory()">Уровень 3</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="addCategoryMenu">Добавить</button>
  <mat-menu #addCategoryMenu="matMenu">
    <button mat-menu-item (click)="onAddSubCategoryToCategory()">Уровень 2</button>
    <button mat-menu-item (click)="onAddSubSubCategoryToSubCategory()">Уровень 3</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="beforeMenu">Before</button>
  <mat-menu #beforeMenu="matMenu" yPosition="below">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="afterMenu">After</button>
  <mat-menu #afterMenu="matMenu" yPosition="below">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
</mat-toolbar>

<div class="container">
<!--  /**************************************** sidebar ****************************************/-->
  <div class="category-list">
    <div *ngFor="let cat of categories">
      <div>
        <input type="checkbox" (change)="onChangeCategoryCheckBox(cat, $event)" [hidden]="cat.isSubCategories">
        <button mat-button (click)="onClickSelectedCategory(cat)">
          <span style="font-size: medium; color: blue">{{cat.title}}</span>
        </button>
      </div>
      <div *ngIf="cat.isChecked">
        <div *ngFor="let sub of cat.subCategories">
          <div style="padding-left: 5px">
            <input type="checkbox" (change)="onChangeSubCategoryCheckBox(sub, $event)"
                   [hidden]="sub.isSubSubCategories">
            <button mat-button (click)="onClickSelectedSubCategory(sub)">
              <span style="padding-left: 0;font-style: italic; color: blue">{{sub.title}}</span>
            </button>
            <div *ngIf="sub.isChecked">
              <div *ngFor="let sub_sub of sub.subSubCategories">
                <button mat-button (click)="onClickSelectedSubSubCategory(sub_sub)">
                  <span style="padding-left: 5px;font-style: italic; color: blue">{{sub_sub.title}}</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--  /**************************************** forms create and add ****************************************/-->
  <div>
    <fieldset *ngIf="categoryAction=='create category'" class="category-form">
      <legend>Create Category</legend>
      <form [formGroup]="categoryForm">
        <div *ngIf="categoryAction=='create category'">
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Enter title</mat-label>
              <input matInput placeholder="title" formControlName="title" required>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Enter url</mat-label>
              <input matInput placeholder="url" formControlName="overview_url" required>
            </mat-form-field>
          </div>
        </div>
        <div>
          <input type="submit" value="Submit" (click)="onSubmitCategory(categoryForm)">
          <input type="reset" value="Reset">
          <input type="button" value="Cancel" (click)="onCancelCategoryForms()">
        </div>
      </form>
    </fieldset>
    <fieldset *ngIf="categoryAction=='create subCategory'" class="category-form">
      <legend>Create subCategory</legend>
      <form [formGroup]="subCategoryForm">
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Enter title</mat-label>
            <input matInput placeholder="title" formControlName="title" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Enter url</mat-label>
            <input matInput placeholder="url" formControlName="overview_url" required>
          </mat-form-field>
        </div>
        <div>
          <input type="submit" value="Submit" (click)="onSubmitSubCategory(subCategoryForm)">
          <input type="reset" value="Reset">
          <input type="button" value="Cancel" (click)="onCancelCategoryForms()">
        </div>
      </form>
    </fieldset>
    <fieldset *ngIf="categoryAction=='create subSubCategory'" class="category-form">
      <legend>Create subSubCategory</legend>
      <form [formGroup]="subSubCategoryForm">
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Enter title</mat-label>
            <input matInput placeholder="title" formControlName="title" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Enter url</mat-label>
            <input matInput placeholder="url" formControlName="overview_url" required>
          </mat-form-field>
        </div>
        <div>
          <input type="submit" value="Submit" (click)="onSubmitSubSubCategory(subSubCategoryForm)">
          <input type="reset" value="Reset">
          <input type="button" value="Cancel" (click)="onCancelCategoryForms()">
        </div>
      </form>
    </fieldset>
    <fieldset *ngIf="categoryAction=='add subCategory to Category'" class="category-form">
      <form [formGroup]="addSubCategoryForm">
        <legend>Add SubCategory to Category</legend>
        <mat-form-field appearance="fill">
          <mat-label>Selected Category</mat-label>
          <mat-select [(value)]="selectedCategory" formControlName="idCat">
            <mat-option *ngFor="let category of categories" [value]="category.id">
              {{category.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Selected subCategory</mat-label>
          <mat-select [(value)]="selectedSubCategory" formControlName="id">
            <mat-option *ngFor="let subCategory of subCategories" [value]="subCategory.id">
              {{subCategory.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <input type="submit" value="Submit" (click)="onSubmitAddSubCategory(addSubCategoryForm)">
          <input type="reset" value="Reset" (click)="onResetAddSubCategoryToCategory()">
          <input type="button" value="Cancel" (click)="onCancelAddSubCategoryToCategory()">
        </div>
      </form>
    </fieldset>
    <fieldset *ngIf="categoryAction=='add subSubCategory to subCategory'" class="category-form">
      <form [formGroup]="addSubSubCategoryForm">
        <legend>Add SubSubCategory to subCategory</legend>
        <mat-form-field appearance="fill">
          <mat-label>Selected SubCategory</mat-label>
          <mat-select [(value)]="selectedSubCategory" formControlName="idSubCat">
            <mat-option *ngFor="let subCategory of subCategories" [value]="subCategory.id">
              {{subCategory.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Selected subSubCategory</mat-label>
          <mat-select [(value)]="selectedSubSubCategory" formControlName="id">
            <mat-option *ngFor="let subSubCategory of subSubCategories" [value]="subSubCategory.id">
              {{subSubCategory.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <input type="submit" value="Submit" (click)="onSubmitAddSubSubCategory(addSubSubCategoryForm)">
          <input type="reset" value="Reset" (click)="onResetAddSubSubCategoryToCategory()">
          <input type="button" value="Cancel" (click)="onCancelAddSubSubCategoryToCategory()">
        </div>
      </form>
    </fieldset>
  </div>
<!--  /**************************************** cards/forms categories items ****************************************/-->
  <div>
<!--    /**************************************** category item card ****************************************/-->
    <div *ngIf="categoryAction=='get selected category'">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{selectedCategory.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="selectedCategory.logoURL" alt="Photo of category">
        <mat-card-content>
          <form [formGroup]="categoryCard">
            <div>
              <mat-form-field appearance="fill">
                <mat-label>title</mat-label>
<!--                <input matInput formControlName="title" required [attr.disabled]="flagEditCategoryCard?null:'true'">-->
                <input matInput formControlName="title" required>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>url</mat-label>
                <input matInput formControlName="overview_url" required [attr.disabled]="flagEditCategoryCard?'true':null">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>logo</mat-label>
                <input matInput formControlName="logo">
              </mat-form-field>
            </div>
            <div *ngIf="flagCategoryCard">
              <input type="file" multiple (change)="onChangeCategoryFile($event)">
            </div>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <div class="card-action">
            <div>
              <button mat-raised-button color="primary" class="resize-button" (click)="onEditCategoryCardForms()" [disabled]="!flagEditCategoryCard">Edit</button>
            </div>
            <div *ngIf="!flagEditCategoryCard">
              <button mat-raised-button type="submit" class="resize-button" (click)="onSaveEditCategory(categoryCard)">Save</button>
            </div>
            <div>
              <button mat-raised-button color="primary" class="resize-button" (click)="onDeleteCategory()" [disabled]="!flagEditCategoryCard">Delete</button>
            </div>
            <div>
              <button mat-raised-button color="primary" class="resize-button" (click)="onAddLogo()" [disabled]="!flagEditCategoryCard">Photo</button>
            </div>
            <div>
              <button mat-raised-button color="primary" class="resize-button"(click)="onCancelCardForms()">Cancel</button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
<!--    /**************************************** subCategory item card ****************************************/-->
    <div *ngIf="categoryAction=='get selected subCategory'">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{selectedSubCategory.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="selectedSubCategory.logoURL" alt="Photo of subCategory">
        <mat-card-content>
          <form [formGroup]="subCategoryCard">
            <div>
              <mat-form-field appearance="fill">
                <mat-label>title</mat-label>
                <input matInput formControlName="title" required>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>url</mat-label>
                <input matInput formControlName="overview_url" required [attr.disabled]="flagEditSubCategoryCard?'true':null">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>logo</mat-label>
                <input matInput formControlName="logo">
              </mat-form-field>
            </div>
            <div *ngIf="flagCategoryCard">
              <input type="file" multiple (change)="onChangeSubCategoryFile($event)">
            </div>
          </form>
        </mat-card-content>
<!--        <mat-card-actions>-->
<!--          <button mat-raised-button color="primary" class="resize-button">Edit</button>-->
<!--          <button mat-raised-button color="primary" class="resize-button" (click)="onDeleteSubCategory()">Delete</button>-->
<!--          <button mat-raised-button color="primary" class="resize-button" (click)="onAddLogo()">Photo</button>-->
<!--          <button mat-raised-button color="primary" class="resize-button" (click)="onCancelCardForms()">Cancel</button>-->
<!--        </mat-card-actions>-->
        <mat-card-actions>
          <div class="card-action">
            <div>
              <button mat-raised-button color="primary" class="resize-button" (click)="onEditSubCategoryCardForms()" [disabled]="!flagEditSubCategoryCard">Edit</button>
            </div>
            <div *ngIf="!flagEditSubCategoryCard">
              <button mat-raised-button type="submit" class="resize-button" (click)="onSaveEditSubCategory(subCategoryCard)">Save</button>
            </div>
            <div>
              <button mat-raised-button color="primary" class="resize-button" (click)="onDeleteSubCategory()" [disabled]="!flagEditSubCategoryCard">Delete</button>
            </div>
            <div>
              <button mat-raised-button color="primary" class="resize-button" (click)="onAddLogo()" [disabled]="!flagEditSubCategoryCard">Photo</button>
            </div>
            <div>
              <button mat-raised-button color="primary" class="resize-button"(click)="onCancelCardForms()">Cancel</button>
            </div>
          </div>
        </mat-card-actions>

      </mat-card>
    </div>
<!--    /**************************************** subSubCategory item card ****************************************/-->
<!--    <div>-->
<!--      <div *ngIf="categoryAction=='get selected subSubCategory'">-->
<!--        <mat-card class="example-card">-->
<!--          <mat-card-header>-->
<!--            <mat-card-title>{{selectedSubSubCategory.title}}</mat-card-title>-->
<!--          </mat-card-header>-->
<!--          <img mat-card-image [src]="selectedSubSubCategory.logoURL" alt="Photo of SubSubCategory">-->
<!--          <mat-card-content>-->
<!--            <form [formGroup]="subSubCategoryCard">-->
<!--              <div>-->
<!--                <mat-form-field appearance="fill">-->
<!--                  <mat-label>title</mat-label>-->
<!--                  <input matInput formControlName="title" required>-->
<!--                </mat-form-field>-->
<!--              </div>-->
<!--              <div>-->
<!--                <mat-form-field appearance="fill">-->
<!--                  <mat-label>url</mat-label>-->
<!--                  <input matInput formControlName="overview_url" required>-->
<!--                </mat-form-field>-->
<!--              </div>-->
<!--              <div>-->
<!--                <mat-form-field appearance="fill">-->
<!--                  <mat-label>logo</mat-label>-->
<!--                  <input matInput formControlName="logo">-->
<!--                </mat-form-field>-->
<!--              </div>-->
<!--              <div *ngIf="flagCategoryCard">-->
<!--                <input type="file" multiple (change)="onChangeSubSubCategoryFile($event)">-->
<!--              </div>-->
<!--            </form>-->
<!--          </mat-card-content>-->
<!--          <mat-card-actions>-->
<!--            <button mat-raised-button color="primary" class="resize-button">Edit</button>-->
<!--            <button mat-raised-button color="primary" class="resize-button" (click)="onDeleteSubSubCategory()">Delete</button>-->
<!--            <button mat-raised-button color="primary" class="resize-button" (click)="onAddLogo()">Photo</button>-->
<!--            <button mat-raised-button color="primary" class="resize-button"(click)="onCancelCardForms()">Cancel</button>-->
<!--          </mat-card-actions>-->
<!--        </mat-card>-->
<!--      </div>-->
<!--    </div>-->

    <div *ngIf="categoryAction=='get selected subSubCategory'">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{selectedSubSubCategory.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="selectedSubSubCategory.logoURL" alt="Photo of subSubCategory">
        <mat-card-content>
          <form [formGroup]="subSubCategoryCard">
            <div>
              <mat-form-field appearance="fill">
                <mat-label>title</mat-label>
                <input matInput formControlName="title" required>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>url</mat-label>
                <input matInput formControlName="overview_url" required [attr.disabled]="flagEditSubSubCategoryCard?'true':null">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>logo</mat-label>
                <input matInput formControlName="logo">
              </mat-form-field>
            </div>
            <div *ngIf="flagCategoryCard">
              <input type="file" multiple (change)="onChangeSubCategoryFile($event)">
            </div>
          </form>
        </mat-card-content>
        <!--        <mat-card-actions>-->
        <!--          <button mat-raised-button color="primary" class="resize-button">Edit</button>-->
        <!--          <button mat-raised-button color="primary" class="resize-button" (click)="onDeleteSubCategory()">Delete</button>-->
        <!--          <button mat-raised-button color="primary" class="resize-button" (click)="onAddLogo()">Photo</button>-->
        <!--          <button mat-raised-button color="primary" class="resize-button" (click)="onCancelCardForms()">Cancel</button>-->
        <!--        </mat-card-actions>-->
        <mat-card-actions>
          <div class="card-action">
            <div>
              <button mat-raised-button color="primary" class="resize-button" (click)="onEditSubSubCategoryCardForms()" [disabled]="!flagEditSubSubCategoryCard">Edit</button>
            </div>
            <div *ngIf="!flagEditSubSubCategoryCard">
              <button mat-raised-button type="submit" class="resize-button" (click)="onSaveEditSubSubCategory(subSubCategoryCard)">Save</button>
            </div>
            <div>
              <button mat-raised-button color="primary" class="resize-button" (click)="onDeleteSubSubCategory()" [disabled]="!flagEditSubSubCategoryCard">Delete</button>
            </div>
            <div>
              <button mat-raised-button color="primary" class="resize-button" (click)="onAddLogo()" [disabled]="!flagEditSubSubCategoryCard">Photo</button>
            </div>
            <div>
              <button mat-raised-button color="primary" class="resize-button"(click)="onCancelCardForms()">Cancel</button>
            </div>
          </div>
        </mat-card-actions>

      </mat-card>
    </div>


  </div>
</div>
