.category-list {
  display: block;
  width: 300px;
}
/*.container {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  justify-content: flex-start;*/
/*}*/
.category-form {
  font-size: 12px;
  padding-left: 50px;
}
.example-card {
  max-width: 250px;
  background-color: #eed8bc;
}
.resize-button {
  width: 50px!important;
  min-width: unset!important;
  padding: 0;
  background-color: #cd7a3c;
}
.card-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  font-size: 14px;
}
.sidenav {
  background-color: #41e2c6;
}
.side-menu {
  width: 250px;
}
mat-sidenav-container {
  height:  calc(100vh - 40px);
}
mat-sidenav {
  /*margin-top: 20px;*/
  /*margin: 16px;*/
  /*width: 200px;*/
  border-right: none;
  background: #3952b5;
  color: white;
  /*border-radius: 10px;*/
  /*padding: 16px;*/
  /*text-align: center;*/
}
mat-toolbar {
  height: 40px;
}
.menu-button {
  display: block;
}
