<!--  /======================================== TOOLBAR =======================================/-->
<!--<app-common-menu></app-common-menu>-->


<!--<mat-toolbar color="primary">-->
<!--  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">-->
<!--    <mat-icon *ngIf="!sidenav.opened">-->
<!--      menu-->
<!--    </mat-icon>-->
<!--    <mat-icon *ngIf="sidenav.opened">-->
<!--      close-->
<!--    </mat-icon>-->
<!--  </button>-->
<!--  <span style="color: yellow">Категории</span>-->
<!--  <button mat-button (click)="onHome()">Home</button>-->
<!--  <button mat-button (click)="onCreateMenu()">Create</button>-->
<!--  <button mat-button (click)="onAddMenu()">Add</button>-->
<!--  <button mat-button (click)="onEditMenu()">Edit</button>-->
<!--</mat-toolbar>-->

<mat-toolbar class="menu-toolbar">
  <button mat-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened">close</mat-icon>
  </button>
  <span style="color: yellow">Categories</span>
  <div *ngIf="sidenav.mode === 'side'">
    <button mat-button>
      <a routerLink="" routerLinkActive="" class="link-toolbar">
      <span>
        <mat-icon style="position: relative;top: .3rem">home</mat-icon>
        Admin
      </span>
      </a>
    </button>
    <button mat-button (click)="onCreateMenu()">
      <span class="link-toolbar">create</span>
    </button>
    <button mat-button (click)="onAddMenu()">
      <span class="link-toolbar">add</span>
    </button>
    <button mat-button (click)="onEditMenu()">
      <span class="link-toolbar">edit</span>
    </button>
  </div>
</mat-toolbar>

<!--  /======================================== SIDE-NAV-CONTAINER ============================/-->
<!--<div class="container">-->
  <div>
    <mat-sidenav-container>
      <!--  /************************************ sidenav *************************************/-->
      <mat-sidenav mode="side" #sidenav="matSidenav" class="side-menu" opened>

        <div *ngIf="sidenav.mode === 'over'">
          <button mat-button [matMenuTriggerFor]="sideMenu">
            TOP MENU
            <mat-menu #sideMenu>
              <button mat-menu-item>
                <a routerLink="" routerLinkActive="" class="link-toolbar" style="color: darkblue">
              <span>
              <mat-icon style="position: relative">home</mat-icon>
                <!--        home-->
              </span>
                </a>
              </button>
              <button mat-menu-item (click)="onCreateMenu()" class="link-toolbar" style="color: darkblue">
                create
              </button>
              <button mat-menu-item (click)="onAddMenu()" class="link-toolbar" style="color: darkblue">
                add
              </button>
              <button mat-menu-item (click)="onEditMenu()" class="link-toolbar" style="color: darkblue">
                edit
              </button>
            </mat-menu>
          </button>
        </div>


        <!--        <div *ngIf="sidenav.mode === 'over'">-->
        <!--          <div>-->
        <!--            <button mat-button (click)="onHome()">Home</button>-->

        <!--          </div>-->
        <!--          <div>-->
        <!--            <button mat-button (click)="onCreateMenu()">Create</button>-->

        <!--          </div>-->
        <!--          <div>-->
        <!--            <button mat-button (click)="onAddMenu()">Add</button>-->

        <!--          </div>-->
        <!--          <div>-->
        <!--            <button mat-button (click)="onEditMenu()">Edit</button>-->

        <!--          </div>-->
        <!--        </div>-->
        <!--        <div *ngIf="sidenav.mode === 'side'"></div>-->

        <div *ngIf="categoryMenuAction === 'create'">
          <ng-container *ngTemplateOutlet="createCategoryMenu"></ng-container>
        </div>
        <div *ngIf="categoryMenuAction === 'edit'">
          <ng-container *ngTemplateOutlet="editCategoryMenu"></ng-container>
        </div>
        <div *ngIf="categoryMenuAction === 'add'">
          <ng-container *ngTemplateOutlet="addCategoryMenu"></ng-container>
        </div>
      </mat-sidenav>
      <!--  /************************************ sidenav-content *****************************/-->
      <mat-sidenav-content class="sidenav">
        <!--  /********************************** forms create and add ************************/-->
        <div *ngIf="categoryAction == 'create category'
   || categoryAction =='create subCategory'
   || categoryAction =='create subSubCategory'">
          <ng-container *ngTemplateOutlet="createCategoryForms; context: categoryContext"></ng-container>
        </div>
        <div *ngIf="categoryAction == 'create category from csv'
   || categoryAction =='create subCategory from csv'
   || categoryAction =='create subSubCategory from csv'">
          <ng-container *ngTemplateOutlet="createCategoriesCSV; context: categoryContext"></ng-container>
        </div>
        <fieldset *ngIf="categoryAction=='add subCategory to Category'" class="category-form">
          <form [formGroup]="addSubCategoryForm">
            <legend>Add SubCategory to Category</legend>
            <mat-form-field appearance="fill">
              <mat-label>Selected Category</mat-label>
              <mat-select [(value)]="selectedCategory" formControlName="idCat">
                <mat-option *ngFor="let category of categories" [value]="category.id">
                  {{category.title}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <br>
            <mat-form-field appearance="fill">
              <mat-label>Selected subCategory</mat-label>
              <mat-select [(value)]="selectedSubCategory" formControlName="id">
                <mat-option *ngFor="let subCategory of subCategories" [value]="subCategory.id">
                  {{subCategory.title}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div>
              <input type="submit" value="Submit" (click)="onSubmitAddSubCategory(addSubCategoryForm)">
              <input type="reset" value="Reset" (click)="onResetAddSubCategoryToCategory()">
              <input type="button" value="Cancel" (click)="onCancelAddSubCategoryToCategory()">
            </div>
          </form>
        </fieldset>
        <fieldset *ngIf="categoryAction=='add subSubCategory to subCategory'" class="category-form">
          <form [formGroup]="addSubSubCategoryForm">
            <legend>Add SubSubCategory to subCategory</legend>
            <mat-form-field appearance="fill">
              <mat-label>Selected SubCategory</mat-label>
              <mat-select [(value)]="selectedSubCategory" formControlName="idSubCat">
                <mat-option *ngFor="let subCategory of subCategories" [value]="subCategory.id">
                  {{subCategory.title}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
              <mat-label>Selected subSubCategory</mat-label>
              <mat-select [(value)]="selectedSubSubCategory" formControlName="id">
                <mat-option *ngFor="let subSubCategory of subSubCategories" [value]="subSubCategory.id">
                  {{subSubCategory.title}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div>
              <input type="submit" value="Submit" (click)="onSubmitAddSubSubCategory(addSubSubCategoryForm)">
              <input type="reset" value="Reset" (click)="onResetAddSubSubCategoryToCategory()">
              <input type="button" value="Cancel" (click)="onCancelAddSubSubCategoryToCategory()">
            </div>
          </form>
        </fieldset>

        <!--  /======================================== cards/forms categories items ===================/-->
        <div>
          <!--    /************************************ category item card *****************************/-->
          <div *ngIf="categoryAction=='get selected category'">
            <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title>{{selectedCategory.title}}</mat-card-title>
              </mat-card-header>
              <img mat-card-image [src]="selectedCategory.logoURL" alt="Photo of category">
              <ng-container *ngTemplateOutlet="categoryCard"></ng-container>
            </mat-card>
          </div>

          <!--    /************************************ subCategory item card **************************/-->
          <div *ngIf="categoryAction=='get selected subCategory'">
            <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title>{{selectedSubCategory.title}}</mat-card-title>
              </mat-card-header>
              <img mat-card-image [src]="selectedSubCategory.logoURL" alt="Photo of subCategory">
              <ng-container *ngTemplateOutlet="categoryCard"></ng-container>
            </mat-card>
          </div>

          <!--    /************************************ subSubCategory item card ***********************/-->
          <div *ngIf="categoryAction=='get selected subSubCategory'">
            <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title>{{selectedSubSubCategory.title}}</mat-card-title>
              </mat-card-header>
              <img mat-card-image [src]="selectedSubSubCategory.logoURL" alt="Photo of subSubCategory">
              <ng-container *ngTemplateOutlet="categoryCard"></ng-container>
            </mat-card>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
<!--</div>-->
<!--  /========================================== TEMPLATES ===================================/-->
<!--  /****************************************** create categories form **********************/-->
<ng-template #createCategoryForms let-active="active">
  <fieldset class="category-form">
    <legend>{{active}}</legend>
    <form [formGroup]="activeForm">
      <div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Enter title</mat-label>
            <input matInput placeholder="title" formControlName="title" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Enter url</mat-label>
            <input matInput placeholder="url" formControlName="overview_url" required>
          </mat-form-field>
        </div>
      </div>
      <div>
        <input type="submit" value="Submit" (click)="onSubmitCreateCategory(activeForm)">
        <input type="reset" value="Reset">
        <input type="button" value="Cancel" (click)="onCancelCategoryForms()">
      </div>
    </form>
  </fieldset>
</ng-template>
<!--  /****************************************** category card *******************************/-->
<ng-template #categoryCard>
  <mat-card-content>
    <form [formGroup]="activeForm">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>title</mat-label>
          <input matInput formControlName="title" required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>url</mat-label>
          <input matInput formControlName="overview_url" required
                 [attr.disabled]="flagEdit?'true':null">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>logo</mat-label>
          <input matInput formControlName="logo">
        </mat-form-field>
      </div>
      <div *ngIf="flagCategoryCard">
        <input type="file" multiple (change)="onChangeCategoryFileCard($event)">
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div class="card-action">
      <div>
        <button mat-raised-button color="primary" class="resize-button" (click)="onEditCategoryCard()"
                [disabled]="!flagEdit">Edit
        </button>
      </div>
      <div *ngIf="!flagEdit">
        <button mat-raised-button type="submit" class="resize-button" (click)="onSaveEditCategoryCard(activeForm)">
          Save
        </button>
      </div>
      <div>
        <button mat-raised-button color="primary" class="resize-button" (click)="onDeleteCategoryCard()"
                [disabled]="!flagEdit">Delete
        </button>
      </div>
      <div>
        <button mat-raised-button color="primary" class="resize-button" (click)="onAddLogo()"
                [disabled]="!flagEdit">Photo
        </button>
      </div>
      <div>
        <button mat-raised-button color="primary" class="resize-button" (click)="onCancelCardForms()">Cancel
        </button>
      </div>
    </div>
  </mat-card-actions>
</ng-template>
<!--  /****************************************** create category side menu *******************/-->
<ng-template #createCategoryMenu>
  <div>
    <button mat-button class="menu-button" (click)="onCreateCategory()">Category form</button>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" (click)="onCreateCategoriesFromCSV()">Category CSV file</button>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" (click)="onCreateSubCategory()">SubCategory form</button>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" (click)="onCreateSubCategoriesFromCSV()">SUBCategory CSV file</button>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" (click)="onCreateSubSubCategory()">SubSubCategory form</button>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" (click)="onCreateSubSubCategoriesFromCSV()">SubSubCategory CSV file</button>
    <mat-divider></mat-divider>
  </div>
</ng-template>
<!--  /****************************************** add category side menu **********************/-->
<ng-template #addCategoryMenu>
  <div>
    <button mat-button class="menu-button" (click)="onAddSubCategoryToCategory()">SubCategory to Category</button>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" (click)="onAddSubSubCategoryToSubCategory()">SubSubCategory to SubCategory
    </button>
    <mat-divider></mat-divider>
  </div>
</ng-template>
<!--  /****************************************** edit category side menu *********************/-->
<ng-template #editCategoryMenu>
  <!--  <div class="category-list">-->
  <div>
    <div *ngFor="let cat of categories">
      <div>
        <input type="checkbox" (change)="onChangeCategoryCheckBox(cat, $event)" [hidden]="cat.isSubCategories">
        <button mat-button (click)="onClickSelectedCategory(cat)">
          <span style="font-size: medium">{{cat.title}}</span>
        </button>
      </div>
      <div *ngIf="cat.isChecked">
        <div *ngFor="let sub of cat.subCategories">
          <div style="padding-left: 5px">
            <input type="checkbox" (change)="onChangeSubCategoryCheckBox(sub, $event)"
                   [hidden]="sub.isSubSubCategories">
            <button mat-button (click)="onClickSelectedSubCategory(sub)">
              <span style="padding-left: 0;font-style: italic">{{sub.title}}</span>
            </button>
            <div *ngIf="sub.isChecked">
              <div *ngFor="let sub_sub of sub.subSubCategories">
                <button mat-button (click)="onClickSelectedSubSubCategory(sub_sub)">
                  <span style="padding-left: 5px;font-style: italic">{{sub_sub.title}}</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!--  /****************************************** edit category side menu *********************/-->
<ng-template #createCategoriesCSV let-active="active">
  <fieldset>
    <legend>{{active}}</legend>
    <form [formGroup]="createCategoriesCSVForm">
      <legend>Create categories from csv file</legend>
      <mat-form-field appearens="fill">
        <mat-label>Csv file</mat-label>
        <input matInput placeholder="file" formControlName="file_name">
      </mat-form-field>
      <div>
        <input type="file" multiple (change)="onChangeCsvFile($event)">
      </div>
      <br>
      <div>
        <button mat-raised-button color="primary" (click)="onSubmitCreateCategoriesCSVForm()">Submit</button>
      </div>
    </form>
  </fieldset>
  <!--  </div>-->
</ng-template>

