<p>category works!</p>
<mat-toolbar color="primary">
  <span style="color: yellow">Категории</span>
  <button mat-button (click)="onHome()">Home</button>
  <button mat-button [matMenuTriggerFor]="createCategoryMenu">Create</button>
  <mat-menu #createCategoryMenu="matMenu">
    <button mat-menu-item (click)="onCreateCategory()">Category</button>
    <button mat-menu-item (click)="onCreateSubCategory()">SubCategory</button>
    <button mat-menu-item (click)="onCreateSubSubCategory()">SubSubCategory</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="addCategoryMenu">Add</button>
  <mat-menu #addCategoryMenu="matMenu">
    <button mat-menu-item (click)="onAddSubCategoryToCategory()">Sub to Category</button>
    <button mat-menu-item (click)="onAddSubSubCategoryToSubCategory()">SubSub to SubCategory</button>
  </mat-menu>
</mat-toolbar>

<div class="container">
  <!--  /======================================== sidebar ========================================/-->
  <div class="category-list">
    <div *ngFor="let cat of categories">
      <div>
        <input type="checkbox" (change)="onChangeCategoryCheckBox(cat, $event)" [hidden]="cat.isSubCategories">
        <button mat-button (click)="onClickSelectedCategory(cat)">
          <span style="font-size: medium; color: blue">{{cat.title}}</span>
        </button>
      </div>
      <div *ngIf="cat.isChecked">
        <div *ngFor="let sub of cat.subCategories">
          <div style="padding-left: 5px">
            <input type="checkbox" (change)="onChangeSubCategoryCheckBox(sub, $event)"
                   [hidden]="sub.isSubSubCategories">
            <button mat-button (click)="onClickSelectedSubCategory(sub)">
              <span style="padding-left: 0;font-style: italic; color: blue">{{sub.title}}</span>
            </button>
            <div *ngIf="sub.isChecked">
              <div *ngFor="let sub_sub of sub.subSubCategories">
                <button mat-button (click)="onClickSelectedSubSubCategory(sub_sub)">
                  <span style="padding-left: 5px;font-style: italic; color: blue">{{sub_sub.title}}</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  /======================================== forms create and add ===========================/-->
  <div *ngIf="categoryAction == 'create category'
   || categoryAction =='create subCategory'
   || categoryAction =='create subSubCategory'">
    <ng-container *ngTemplateOutlet="createCategoryForms; context: categoryContext"></ng-container>
  </div>
  <fieldset *ngIf="categoryAction=='add subCategory to Category'" class="category-form">
    <form [formGroup]="addSubCategoryForm">
      <legend>Add SubCategory to Category</legend>
      <mat-form-field appearance="fill">
        <mat-label>Selected Category</mat-label>
        <mat-select [(value)]="selectedCategory" formControlName="idCat">
          <mat-option *ngFor="let category of categories" [value]="category.id">
            {{category.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <br>
      <mat-form-field appearance="fill">
        <mat-label>Selected subCategory</mat-label>
        <mat-select [(value)]="selectedSubCategory" formControlName="id">
          <mat-option *ngFor="let subCategory of subCategories" [value]="subCategory.id">
            {{subCategory.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <input type="submit" value="Submit" (click)="onSubmitAddSubCategory(addSubCategoryForm)">
        <input type="reset" value="Reset" (click)="onResetAddSubCategoryToCategory()">
        <input type="button" value="Cancel" (click)="onCancelAddSubCategoryToCategory()">
      </div>
    </form>
  </fieldset>
  <fieldset *ngIf="categoryAction=='add subSubCategory to subCategory'" class="category-form">
    <form [formGroup]="addSubSubCategoryForm">
      <legend>Add SubSubCategory to subCategory</legend>
      <mat-form-field appearance="fill">
        <mat-label>Selected SubCategory</mat-label>
        <mat-select [(value)]="selectedSubCategory" formControlName="idSubCat">
          <mat-option *ngFor="let subCategory of subCategories" [value]="subCategory.id">
            {{subCategory.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Selected subSubCategory</mat-label>
        <mat-select [(value)]="selectedSubSubCategory" formControlName="id">
          <mat-option *ngFor="let subSubCategory of subSubCategories" [value]="subSubCategory.id">
            {{subSubCategory.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <input type="submit" value="Submit" (click)="onSubmitAddSubSubCategory(addSubSubCategoryForm)">
        <input type="reset" value="Reset" (click)="onResetAddSubSubCategoryToCategory()">
        <input type="button" value="Cancel" (click)="onCancelAddSubSubCategoryToCategory()">
      </div>
    </form>
  </fieldset>

  <!--  /======================================== cards/forms categories items ===================/-->
  <div>
    <!--    /************************************ category item card *****************************/-->
    <div *ngIf="categoryAction=='get selected category'">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{selectedCategory.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="selectedCategory.logoURL" alt="Photo of category">
        <ng-container *ngTemplateOutlet="categoryCard"></ng-container>
      </mat-card>
    </div>

    <!--    /************************************ subCategory item card **************************/-->
    <div *ngIf="categoryAction=='get selected subCategory'">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{selectedSubCategory.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="selectedSubCategory.logoURL" alt="Photo of subCategory">
        <ng-container *ngTemplateOutlet="categoryCard"></ng-container>
      </mat-card>
    </div>

    <!--    /************************************ subSubCategory item card ***********************/-->
    <div *ngIf="categoryAction=='get selected subSubCategory'">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{selectedSubSubCategory.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="selectedSubSubCategory.logoURL" alt="Photo of subSubCategory">
        <ng-container *ngTemplateOutlet="categoryCard"></ng-container>
      </mat-card>
    </div>
  </div>
</div>

<!--  /========================================== templates ======================================/-->
<!--  /****************************************** create categories ******************************/-->
<ng-template #createCategoryForms let-active="active">
  <!--  <div>{{active}}</div>-->
  <fieldset class="category-form">
    <legend>{{active}}</legend>
    <form [formGroup]="activeForm">
      <div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Enter title</mat-label>
            <input matInput placeholder="title" formControlName="title" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Enter url</mat-label>
            <input matInput placeholder="url" formControlName="overview_url" required>
          </mat-form-field>
        </div>
      </div>
      <div>
        <input type="submit" value="Submit" (click)="onSubmitCreateCategory(activeForm)">
        <input type="reset" value="Reset">
        <input type="button" value="Cancel" (click)="onCancelCategoryForms()">
      </div>
    </form>
  </fieldset>
</ng-template>

<!--  /****************************************** category card **********************************/-->
<ng-template #categoryCard>
  <mat-card-content>
    <form [formGroup]="activeForm">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>title</mat-label>
          <input matInput formControlName="title" required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>url</mat-label>
          <input matInput formControlName="overview_url" required
                 [attr.disabled]="flagEdit?'true':null">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>logo</mat-label>
          <input matInput formControlName="logo">
        </mat-form-field>
      </div>
      <div *ngIf="flagCategoryCard">
        <input type="file" multiple (change)="onChangeCategoryFileCard($event)">
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div class="card-action">
      <div>
        <button mat-raised-button color="primary" class="resize-button" (click)="onEditCategoryCard()"
                [disabled]="!flagEdit">Edit
        </button>
      </div>
      <div *ngIf="!flagEdit">
        <button mat-raised-button type="submit" class="resize-button" (click)="onSaveEditCategoryCard(activeForm)">
          Save
        </button>
      </div>
      <div>
        <button mat-raised-button color="primary" class="resize-button" (click)="onDeleteCategoryCard()"
                [disabled]="!flagEdit">Delete
        </button>
      </div>
      <div>
        <button mat-raised-button color="primary" class="resize-button" (click)="onAddLogo()"
                [disabled]="!flagEdit">Photo
        </button>
      </div>
      <div>
        <button mat-raised-button color="primary" class="resize-button" (click)="onCancelCardForms()">Cancel
        </button>
      </div>
    </div>
  </mat-card-actions>
</ng-template>
