.category-list {
  display: block;
  width: 300px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.category-form {
  font-size: 12px;
  padding-left: 50px;
}
.example-card {
  max-width: 250px;
  background-color: #eed8bc;
}
.resize-button {
  width: 50px!important;
  min-width: unset!important;
  padding: 0;
  background-color: #cd7a3c;
}
